_CnC3_SDK/Schemas/xsd/AssetTypeGameObject.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:at="uri:ea.com:eala:asset:type"
	xmlns:xas="uri:ea.com:eala:asset:schema" xmlns:balance="uri:ea.com:eala:balance" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified"
	xmlns:XmlEdit="http://tempuri.org/XmlEdit.xsd">

	<xs:include schemaLocation="GameObject/WeaponSet.xsd"/>
	<xs:include schemaLocation="GameObject/ThingSort.xsd"/>
	<xs:include schemaLocation="GameObject/RadarPriority.xsd"/>

	<xs:complexType name="BehaviorModules">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="AISpecialPowerUpdate" type="AISpecialPowerUpdateModuleData" />
			<xs:element name="AttributeModifierUpgrade" type="AttributeModifierUpgradeModuleData" />
			<xs:element name="AttackTargetSpecialPower" type="AttackTargetSpecialPowerModuleData" />
			<xs:element name="ArmorUpgrade" type="ArmorUpgradeModuleData" />
			<xs:element name="BeamTargetBehavior" type="BeamTargetModuleData" />
			<xs:element name="SlavedUpdate" type="SlavedUpdateModuleData" />
			<xs:element name="BezierProjectile" type="BezierProjectileBehaviorModuleData" />
			<xs:element name="BuildingBehavior" type="BuildingBehaviorModuleData" />
			<xs:element name="CastleUpgrade" type="CastleUpgradeModuleData" />
			<xs:element name="ClusterBombUpdate" type="ClusterBombUpdateModuleData" />
			<xs:element name="Collide" type="CollideModuleData" />
			<xs:element name="CommandSetUpgrade" type="CommandSetUpgradeModuleData" />
			<xs:element name="CreateObjectDie" type="CreateObjectDieModuleData" />
			<xs:element name="CrushDie" type="CrushDieModuleData" />
			<xs:element name="RebuildHoleExposeDie" type="RebuildHoleExposeDieModuleData" />
			<xs:element name="RebuildHoleBehavior" type="RebuildHoleBehaviorModuleData" />
			<xs:element name="DefaultProductionExit" type="DefaultProductionExitUpdateModuleData" />
			<xs:element name="DestroyDie" type="DestroyDieModuleData" />
			<xs:element name="DynamicShroudClearingRangeUpdate" type="DynamicShroudClearingRangeUpdateModuleData" />
			<xs:element name="EmotionTrackerUpdate" type="EmotionTrackerUpdateModuleData" />
			<xs:element name="EngineerContain" type="EngineerContainModuleData" />
			<xs:element name="InfiltratorContain" type="InfiltratorContainModuleData" />
			<xs:element name="InvalidTargetsDeathUpdate" type="InvalidTargetsDeathUpdateModuleData" />
			<xs:element name="FireWeaponCollide" type="FireWeaponCollideModuleData" />
			<xs:element name="FireWeaponUpdate" type="FireWeaponUpdateModuleData" />
			<xs:element name="StructureToppleUpdate" type="StructureToppleUpdateModuleData" />
			<xs:element name="ToppleUpdate" type="ToppleUpdateModuleData" />
			<xs:element name="OilSpillUpdate" type="OilSpillUpdateModuleData" />
			<xs:element name="DamageFieldUpdate" type="DamageFieldUpdateModuleData" />
			<xs:element name="FlammableUpdate" type="FlammableUpdateModuleData" />
			<xs:element name="AutoDepositUpdate" type="AutoDepositUpdateModuleData" />
			<xs:element name="FXListBehavior" type="FXListBehaviorModuleData" />
			<xs:element name="GeometryUpgrade" type="GeometryUpgradeModuleData" />
			<xs:element name="GettingBuilt" type="GettingBuiltBehaviorModuleData" />
			<xs:element name="GiveUpgradeUpdate" type="GiveUpgradeUpdateModuleData" />
			<xs:element name="GrantUpgradeCreate" type="GrantUpgradeCreateModuleData" />
			<xs:element name="HeightDieUpdate" type="HeightDieUpdateModuleData" />
			<xs:element name="MissileUpdate" type="MissileUpdateModuleData" />
			<xs:element name="JumpJetSpecialPower" type="JumpJetSpecialPowerModuleData" />
			<xs:element name="LevelUpUpgrade" type="LevelUpUpgradeModuleData" />
			<xs:element name="LifetimeUpdate" type="LifetimeUpdateModuleData" />
			<xs:element name="LocomotorSetUpgrade" type="LocomotorSetModuleData" />
			<xs:element name="SwitchLocomotorsSpecialAbilityUpdate" type="SwitchLocomotorsSpecialAbilityUpdateModuleData" />
			<xs:element name="MaxHealthUpgrade" type="MaxHealthUpgradeModuleData" />
			<xs:element name="MinefieldBehavior" type="MinefieldBehaviorModuleData" />
			<xs:element name="ModelConditionSpecialAbilityUpdate" type="ModelConditionSpecialAbilityUpdateModuleData" />
			<xs:element name="ModelConditionUpgrade" type="ModelConditionUpgradeModuleData" />
			<xs:element name="RandomModelCondition" type="RandomModelConditionBehaviorModuleData" />
			<xs:element name="StrafeAreaUpdate" type="StrafeAreaUpdateModuleData" />
			<xs:element name="OCLMonitorUpdate" type="OCLMonitorUpdateModuleData" />
			<xs:element name="TeleportSpecialAbilityUpdate" type="TeleportSpecialAbilityUpdateModuleData" />
			<xs:element name="TeleportToCasterSpecialPower" type="TeleportToCasterSpecialPowerModuleData" />
			<xs:element name="ObjectCreationUpgrade" type="ObjectCreationUpgradeModuleData" />
			<xs:element name="OCLSpecialPower" type="OCLSpecialPowerModuleData" />
			<xs:element name="TemporaryOwnerSpecialPower" type="TemporaryOwnerSpecialPowerModuleData" />
			<xs:element name="OCLUpdate" type="OCLUpdateModuleData" />
			<xs:element name="OpenContain" type="OpenContainModuleData" />
			<xs:element name="HealContain" type="HealContainModuleData" />
			<xs:element name="Physics" type="PhysicsBehaviorModuleData" />
			<xs:element name="CombinedInfoModule" type="CombinedInfoModuleData" />
			<xs:element name="CompositeStructureInfoModule" type="CompositeStructureInfoModuleData" />
			<xs:element name="PlayerUpgradeSpecialPower" type="PlayerUpgradeSpecialPowerModuleData" />
			<xs:element name="ProductionUpdate" type="ProductionUpdateModuleData" />
			<xs:element name="ProductionUpdateInfo" type="ProductionUpdateInfoModuleData" />
			<xs:element name="QueueProductionExitUpdate" type="QueueProductionExitUpdateModuleData" />
			<xs:element name="CombineSpecialPower" type="CombineSpecialPowerModuleData" />
			<xs:element name="UncombineSpecialPower" type="UncombineSpecialPowerModuleData" />
			<xs:element name="RadarHackSpecialPower" type="RadarHackSpecialPowerModuleData" />
			<xs:element name="RadarJamSpecialPower" type="RadarJamSpecialPowerModuleData" />
			<xs:element name="RadarSpySpecialPower" type="RadarSpySpecialPowerModuleData" />
			<xs:element name="RadarFreezeSpecialPower" type="RadarFreezeSpecialPowerModuleData" />
			<xs:element name="CaptureAndGiveCommandSetSpecialPower" type="CaptureAndGiveCommandSetSpecialPowerModuleData" />
			<xs:element name="GiveOrRestoreUpgradeSpecialPower" type="GiveOrRestoreUpgradeSpecialPowerModuleData" />
			<xs:element name="RefundDie" type="RefundDieModuleData" />
			<xs:element name="RemoveUpgradeUpgrade" type="RemoveUpgradeUpgradeModuleData" />
			<xs:element name="ReplaceSelfUpgrade" type="ReplaceSelfUpgradeModuleData" />
			<xs:element name="SalvageCrateCollide" type="SalvageCrateCollideModuleData" />
			<xs:element name="HealCrateCollide" type="HealCrateCollideModuleData" />
			<xs:element name="MoneyCrateCollide" type="MoneyCrateCollideModuleData" />
			<xs:element name="ShroudCrateCollide" type="ShroudCrateCollideModuleData" />
			<xs:element name="UnitCrateCollide" type="UnitCrateCollideModuleData" />
			<xs:element name="VeterancyCrateCollide" type="VeterancyCrateCollideModuleData" />
			<xs:element name="SlowDeath" type="SlowDeathBehaviorModuleData" />
			<xs:element name="SpawnBehavior" type="SpawnBehaviorModuleData" />
			<xs:element name="SpecialAbilityUpdate" type="SpecialAbilityUpdateModuleData" />
			<xs:element name="CurseSpecialPower" type="CurseSpecialPowerModuleData" />
			<xs:element name="OCLMonitorSpecialAbilityUpdate" type="OCLMonitorSpecialAbilityUpdateModuleData" />
			<xs:element name="LargeGroupAudioUpdate" type="LargeGroupAudioUpdateModuleData" />
			<xs:element name="SpecialPower" type="SpecialPowerModuleData" />
			<xs:element name="AssignSlavesTargetObjectSpecialPower" type="AssignSlavesTargetObjectSpecialPowerModuleData"/>
			<xs:element name="HordeDispatchSpecialPower" type="HordeDispatchSpecialPowerModuleData" />
			<xs:element name="SpecialPowerDispatchSpecialPower" type="SpecialPowerDispatchSpecialPowerModuleData" />
			<xs:element name="SpecialPowerUpdate" type="SpecialPowerUpdateModuleData" />
			<xs:element name="StealthDetectorUpdate" type="StealthDetectorUpdateModuleData" />
			<xs:element name="StructureCollapseUpdate" type="StructureCollapseUpdateModuleData" />
			<xs:element name="InitiateRepairDie" type="InitiateRepairDieModuleData" />
			<xs:element name="AttributeModifierAuraUpdate" type="AttributeModifierAuraUpdateModuleData" />
			<xs:element name="ShieldBodyUpdate" type="ShieldBodyUpdateModuleData" />
			<xs:element name="SubObjectsUpgrade" type="SubObjectsUpgradeModuleData" />
			<xs:element name="TerrainResource" type="TerrainResourceBehaviorModuleData" />
			<xs:element name="TransportContain" type="TransportContainModuleData" />
			<xs:element name="HordeTransportContain" type="HordeTransportContainModuleData" />
			<xs:element name="HordeContain" balance:category="HordeContain" type="HordeContainModuleData" />
			<xs:element name="UnpauseSpecialPowerUpgrade" type="UnpauseSpecialPowerUpgradeModuleData" />
			<xs:element name="Upgrade" balance:category="Upgrade" type="UpgradeModuleData" />
			<xs:element name="AudioLoopUpgrade" type="AudioLoopUpgradeModuleData" />
			<xs:element name="WeaponSetUpdate" balance:category="WeaponSetUpdate" type="WeaponSetUpdateModuleData" />
			<xs:element name="BeamSpecialAbilityUpdate" type="BeamSpecialAbilityUpdateModuleData" />
			<xs:element name="CaptureSpecialAbilityUpdate" type="CaptureSpecialAbilityUpdateModuleData" />
			<xs:element name="WeaponFireSpecialAbilityUpdate" type="WeaponFireSpecialAbilityUpdateModuleData" />
			<xs:element name="TiberiumThiefSpecialAbilityUpdate" type="TiberiumThiefSpecialAbilityUpdateModuleData" />
			<xs:element name="TiberiumField" type="TiberiumFieldBehaviorModuleData" />
			<xs:element name="TiberiumCrystal" type="TiberiumCrystalBehaviorModuleData" />
			<xs:element name="TiberiumGrowthModBehavior" type="TiberiumGrowthModBehaviorModuleData" />
			<xs:element name="RadarBehavior" type="RadarBehaviorModuleData" />
			<xs:element name="DockUpdate" type="DockUpdateModuleData" />
			<xs:element name="RepairUpdate" type="RepairUpdateModuleData" />
			<xs:element name="SupplyCenterDockUpdate" type="SupplyCenterDockUpdateModuleData" />
			<xs:element name="SupplyWarehouseDockUpdate" type="SupplyWarehouseDockUpdateModuleData" />
			<xs:element name="AimWeapon" type="AimWeaponBehaviorModuleData" />
			<xs:element name="DistributedMoney" type="DistributedMoneyBehaviorModuleData" />
			<xs:element name="AutoAbility" type="AutoAbilityBehaviorModuleData" />
			<xs:element name="FireWeaponWhenDamaged" type="FireWeaponWhenDamagedBehaviorModuleData" />
			<xs:element name="FireWeaponWhenDead" type="FireWeaponWhenDeadBehaviorModuleData" />
			<xs:element name="GarrisonContain" type="GarrisonContainModuleData" />
			<xs:element name="ExperienceLevelCreate" type="ExperienceLevelCreateModuleData" />
			<xs:element name="InheritUpgradeCreate" type="InheritUpgradeCreateModuleData" />
			<xs:element name="DeletionUpdate" type="DeletionUpdateModuleData" />
			<xs:element name="EMPUpdate" type="EMPUpdateModuleData" />
			<xs:element name="DelayedUpgrade" type="DelayedUpgradeModuleData" />
			<xs:element name="ProductionSpeedBonusUpgrade" type="ProductionSpeedBonusUpgradeModuleData" />
			<xs:element name="StatusBitsUpgrade" type="StatusBitsUpgradeModuleData" />
			<xs:element name="RadarUpdate" type="RadarUpdateModuleData" />
			<xs:element name="UpgradeDie" type="UpgradeDieModuleData" />
			<xs:element name="KeepObjectDie" type="KeepObjectDieModuleData" />
			<xs:element name="AutoHealBehavior" type="AutoHealBehaviorModuleData" />
			<xs:element name="ParkingPlaceBehavior" type="ParkingPlaceBehaviorModuleData" />
			<xs:element name="ExperienceScalarUpgrade" type="ExperienceScalarUpgradeModuleData" />
			<xs:element name="LevelGrantSpecialPower" type="LevelGrantSpecialPowerModuleData" />
			<xs:element name="CostModifierUpgrade" type="CostModifierUpgradeModuleData" />
			<xs:element name="StealthUpgrade" type="StealthUpgradeModuleData" />
			<xs:element name="SquishCollide" type="SquishCollideModuleData" />
			<xs:element name="InactiveBody" type="InactiveBodyModuleData" />
			<xs:element name="Damage" type="DamageModuleData" />
			<xs:element name="Damager" type="DamagerModuleData" />
			<xs:element name="Destroy" type="DestroyModuleData" />
			<xs:element name="DamageStateList" type="DamageStateListModuleData" />
			<xs:element name="LaserUpdate" type="LaserUpdateModuleData" />
			<xs:element name="LaserState" type="LaserStateModuleData" />
			<xs:element name="SweepingLaserState" type="SweepingLaserStateModuleData" />
			<xs:element name="StreamState" type="StreamStateModuleData" />
			<xs:element name="ActivateModuleSpecialPower" type="ActivateModuleSpecialPowerModuleData" />
			<xs:element name="DualWeaponBehavior" type="DualWeaponBehaviorModuleData" />
			<xs:element name="CaptureBehavior" type="CaptureBehaviorModuleData" />
			<xs:element name="StorePurchasedUpgradeBehavior" type="StorePurchasedUpgradeBehaviorModuleData" />
			<xs:element name="StoreObjectsSpecialPowerUpdate" type="StoreObjectsSpecialPowerModuleData" />
			<xs:element name="CloneStoredObjectsSpecialPowerUpdate" type="CloneStoredObjectsSpecialPowerUpdateModuleData" />
			<xs:element name="RecallUnitsSpecialPower" type="RecallUnitsSpecialPowerModuleData" />
			<xs:element name="ReturnToProducerSpecialPower" type="ReturnToProducerSpecialPowerModuleData" />
			<xs:element name="ReturnToDockSpecialPower" type="ReturnToDockSpecialPowerModuleData" />
			<xs:element name="HordeGarrisonContain" type="HordeGarrisonContainModuleData" />
			<xs:element name="TunnelContain" type="TunnelContainModuleData" />
			<xs:element name="TunnelTeleportContain" type="TunnelTeleportContainModuleData" />
			<xs:element name="SlaughterHordeContain" type="SlaughterHordeContainModuleData" />
			<xs:element name="InvisibilityUpdate" type="InvisibilityUpdateModuleData" />
			<xs:element name="PowerUpdate" type="PowerUpdateModuleData" />
			<xs:element name="SupplyCenterCreate" type="SupplyCenterCreateModuleData" />
			<xs:element name="GatherSlavesUpdate" type="GatherSlavesUpdateModuleData" />
			<xs:element name="StancesBehavior" type="StancesBehaviorModuleData" />
			<xs:element name="RubbleRiseUpdate" type="RubbleRiseUpdateModuleData" />
			<xs:element name="FiringTracker" type="FiringTrackerModuleData" />
			<xs:element name="SpecialPowerTimerRefreshSpecialPower" type="SpecialPowerTimerRefreshSpecialPowerModuleData" />
			<xs:element name="ObjectDefectionHelper" type="ObjectDefectionHelperModuleData" />
			<xs:element name="ClickReactionBehavior" type="ClickReactionBehaviorModuleData" />
			<xs:element name="HitReactionBehavior" type="HitReactionBehaviorModuleData" />
			<xs:element name="ReplaceObjectUpdate" type="ReplaceObjectUpdateModuleData" />
			<xs:element name="HelicopterSlowDeath" type="HelicopterSlowDeathBehaviorModuleData" />
			<xs:element name="ClearanceTestingSlowDeathBehavior" type="ClearanceTestingSlowDeathBehaviorModuleData" />
			<xs:element name="AttachUpdate" type="AttachUpdateModuleData" />
			<xs:element name="BoobyTrapUpdate" type="BoobyTrapUpdateModuleData" />
			<xs:element name="StealUnitUpdate" type="StealUnitUpdateModuleData" />
			<xs:element name="SpawnCrateUpdate" type="SpawnCrateUpdateModuleData" />
			<xs:element name="BridgeBuilder" type="BridgeBuilderModuleData" />
			<xs:element name="PassiveAreaEffectBehavior" type="PassiveAreaEffectBehaviorModuleData" />
			<xs:element name="PowerUpgrade" type="PowerUpgradeModuleData" />
			<xs:element name="CreateAndEnterObjectSpecialPower" type="CreateAndEnterObjectSpecialPowerModuleData" />
			<xs:element name="MoveToPositionAndEvacuateSpecialPower" type="MoveToPositionAndEvacuateSpecialPowerModuleData" />
			<xs:element name="MoveToPositionAndReplaceSelfSpecialPower" type="MoveToPositionAndReplaceSelfSpecialPowerModuleData" />
			
			<xs:element name="RunOffMapBehavior" type="RunOffMapBehaviorModuleData" />
			<xs:element name="SuppressionUpdate" balance:category="SuppressionUpdate" type="SuppressionUpdateModuleData" />
			<xs:element name="AttributeModifierPoolUpdate" type="AttributeModifierPoolUpdateModuleData" />
			<xs:element name="WallHubBehavior" type="WallHubBehaviorModuleData" />
			<xs:element name="StructureUnpackUpdate" type="StructureUnpackUpdateModuleData" />
			<xs:element name="BannerCarrierUpgrade" type="BannerCarrierUpgradeModuleData" />
			<xs:element name="FindCoverBehavior" type="FindCoverBehaviorModuleData" />
			<xs:element name="HighlightReachableTargetsSpecialAbilityUpdate" type="HighlightReachableTargetsSpecialAbilityUpdateModuleData"/>
			<xs:element name="RepairSpecialPower" type="RepairSpecialPowerModuleData" />
			<xs:element name="RadarScanMapSpecialAbilityUpdate" type="RadarScanMapSpecialAbilityUpdateModuleData"/>
			<xs:element name="RestrictSpecialPowerBehavior" type="RestrictSpecialPowerBehaviorModuleData" />
			<xs:element name="AreaRestrictSpecialPowerBehavior" type="AreaRestrictSpecialPowerBehaviorModuleData" />
			<xs:element name="MonitorConditionUpdate" type="MonitorConditionUpdateModuleData" />
			<xs:element name="MonitorSpecialPowerTimerUpdate" type="MonitorSpecialPowerTimerUpdateModuleData" />
			<xs:element name="ShroudClearBehavior" type="ShroudClearBehaviorModuleData"/>
			<xs:element name="LinearDamageUpdate" type="LinearDamageUpdateModuleData"/>
			<xs:element name="GrantUpgradeAreaOfEffectSpecialPower" type="GrantUpgradeAreaOfEffectSpecialPowerModuleData"/>
			<xs:element name="SetLocomotorSpeedUpdate"	type="SetLocomotorSpeedUpdateModuleData"/>
			<xs:element name="DestroyObjectsUpdate"		type="DestroyObjectsUpdateModuleData"/>
			<xs:element name="PlayerPowerManager" type="PlayerPowerManagerBehaviorModuleData"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AIModule">
		<xs:choice minOccurs="0" maxOccurs="1">
			<xs:element name="AIUpdate" type="AIUpdateModuleData" />
			<xs:element name="ConstructionYardAIUpdate" type="ConstructionYardAIUpdateModuleData" />
			<xs:element name="AIGateUpdate" type="AIGateUpdateModuleData" />
			<xs:element name="DeployStyleAIUpdate" type="DeployStyleAIUpdateModuleData" />
			<xs:element name="TransportAIUpdate" type="TransportAIUpdateModuleData" />
			<xs:element name="HordeAIUpdate" type="HordeAIUpdateModuleData" />
			<xs:element name="JetAIUpdate" type="JetAIUpdateModuleData" />
			<xs:element name="SupplyTruckAIUpdate" type="SupplyTruckAIUpdateModuleData" />
			<xs:element name="TransportHelicopterAIUpdate" type="TransportHelicopterAIUpdateModuleData" />
			<xs:element name="WanderAIUpdate" type="WanderAIUpdateModuleData" />
			<xs:element name="AnimalAIUpdate" type="AnimalAIUpdateModuleData" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BodyModule">
		<xs:choice minOccurs="1" maxOccurs="1">
			<xs:element name="ActiveBody" balance:category="ActiveBody" type="ActiveBodyModuleData" />
			<xs:element name="ShieldBody" balance:category="ActiveBody" type="ShieldBodyModuleData" />
			<xs:element name="ImmortalBody" type="ImmortalBodyModuleData" />
			<xs:element name="DelayedDeathBody" type="DelayedDeathBodyModuleData" />
			<xs:element name="RespawnBody" type="RespawnBodyModuleData" />
			<xs:element name="HighlanderBody" type="HighlanderBodyModuleData" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ClientUpdateModules">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="AnimatedParticleSysBoneClientUpdate" type="AnimatedParticleSysBoneClientUpdateModuleData" />
			<xs:element name="BeaconClientUpdate" type="BeaconClientUpdateModuleData" />
			<xs:element name="EvaAnnounceClientCreate" type="EvaAnnounceClientCreateModuleData" />
			<xs:element name="EvaAnnounceSpecialPowerReadyClientUpdate" type="EvaAnnounceSpecialPowerReadyClientUpdateModuleData" />
			<xs:element name="LaserUpdate" type="LaserUpdateModuleData" />
			<xs:element name="RadarMarkerClientUpdate" type="RadarMarkerClientUpdateModuleData" />
			<xs:element name="SwayClientUpdate" type="SwayClientUpdateModuleData" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ClientBehaviorModules">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="AnimationSoundClientBehavior" type="AnimationSoundClientBehaviorModuleData" />
			<xs:element name="ModelConditionAudioLoopClientBehavior" type="ModelConditionAudioLoopClientBehaviorModuleData" />
			<xs:element name="ModelConditionSoundSelectorClientBehavior" type="ModelConditionSoundSelectorClientBehaviorModuleData" />
			<xs:element name="RandomSoundSelectorClientBehavior" type="RandomSoundSelectorClientBehaviorModuleData" />
			<xs:element name="UpgradeSoundSelectorClientBehavior" type="UpgradeSoundSelectorClientBehaviorModuleData" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AutoResolveInfo">
		<xs:sequence></xs:sequence>
		<xs:attribute name="AutoResolveUnitType" type="xs:string" />
		<xs:attribute name="AutoResolveBody" type="Poid" xas:refType="ModuleData" />
		<xs:attribute name="AutoResolveArmor" type="ArmorRef" />
		<xs:attribute name="AutoResolveWeapon" type="WeaponRef" />
		<xs:attribute name="AutoResolveLeadership" type="xs:string" />
		<xs:attribute name="AutoResolveCombatChain" type="xs:string" />
	</xs:complexType>
	<xs:simpleType name="BuildPlacementType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INVALID" />
			<xs:enumeration value="MAIN_STRUCTURE" />
			<xs:enumeration value="OTHER_STRUCTURE" />
			<xs:enumeration value="TIBERIUM_FIELD" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BuildableStatus"
									 xas:useEnumPrefix="false"
									 xas:enumItemPrefix="BSTATUS_"
									 xas:targetNamespace="" >
		<xs:restriction base="xs:string">
			<xs:enumeration value="YES" />
			<xs:enumeration value="IGNORE_PREREQUISITES" />
			<xs:enumeration value="NO" />
			<xs:enumeration value="ONLY_BY_AI" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BuildCompletionType"
									 xas:useEnumPrefix="false"
									 xas:enumItemPrefix="BC_"
									 xas:targetNamespace="" >
		<xs:restriction base="xs:string">
			<xs:enumeration value="INVALID" />
			<!-- ///< unit appears="" at="" rally="" point="" of="" its="" #1="" prereq="" -->
			<xs:enumeration value="APPEARS_AT_RALLY_POINT" />
			<!-- ///< unit must="" be="" manually="" placed="" by="" player="" -->
			<xs:enumeration value="PLACED_BY_PLAYER" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="BuildPlacementTypeBitFlags">
		<xs:list itemType="BuildPlacementType"></xs:list>
	</xs:simpleType>

	<xs:complexType name="ProjectedBuildabilityInfo">
		<xs:sequence></xs:sequence>
		<xs:attribute name="Radius" balance:field="Radius" type="SageReal" default="0" />
		<xs:attribute name="BuildPlacementTypes" type="BuildPlacementTypeBitFlags" default="INVALID" />
		<xs:attribute name="StatusToReject" type="ObjectStatusBitFlags" />
		<xs:attribute name="ModelConditionsToReject" type="ModelConditionBitFlags"/>
	</xs:complexType>
	<xs:complexType name="GameObject" xas:runtimeWrapper="::ThingTemplate">
		<xs:complexContent>
			<xs:extension base="BaseInheritableAsset">
				<xs:sequence>
					<xs:element name="DisplayName" type="xs:string" minOccurs="0" maxOccurs="1" XmlEdit:Category="Design" />
					<xs:element name="GameDependency"	type="GameDependencyType" minOccurs="0" maxOccurs="1"/>
					<!--	<xs:element name="Prerequisites" type="Prerequisites" minOccurs="0" XmlEdit:Category="Engineering" /> -->
					<xs:element name="ArmorSet" balance:category="Armor Sets" type="ArmorTemplateSet" minOccurs="0" maxOccurs="unbounded" XmlEdit:Category="Design" />
					<xs:element name="WeaponSet" balance:category="Weapon Sets" type="WeaponTemplateSet" minOccurs="0" maxOccurs="unbounded" XmlEdit:Category="Design" />
					<xs:element name="LocomotorSet" balance:category="Locomotor Sets" type="LocomotorSet" minOccurs="0" maxOccurs="unbounded" XmlEdit:Category="Engineering" />
					<xs:element name="Buildable" type="BuildableStatus" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="ThingClass" type="ThingClassType" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="DeadCollideSize" type="DeadCollideSizeType" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="BuildFadeInOnCreateList" type="StringList" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="BuildVariations" type="StringList" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="EquivalentTo" type="GameObjectWeakRef" minOccurs="0" maxOccurs="unbounded" XmlEdit:Category="Engineering" />
					<xs:element name="DisplayColor" type="Color4" minOccurs="0" XmlEdit:Category="Art" />
					<xs:element name="Flammability" type="Flammability" minOccurs="0" XmlEdit:Category="Design" />
					<xs:element name="SkirmishAIInformation" type="SkirmishAIInformation" minOccurs="0" maxOccurs="1" XmlEdit:Category="Design" />
					<xs:element name="Draws" type="DrawModules" minOccurs="0" XmlEdit:Category="Art" />
					<xs:element name="Behaviors" balance:category="Behaviors" type="BehaviorModules" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="AI" type="AIModule" minOccurs="0" xas:byValue="true" XmlEdit:Category="Engineering" />
					<xs:element name="Body" balance:category="Body" type="BodyModule" minOccurs="1" XmlEdit:Category="Engineering" />
					<xs:element name="ClientUpdates" type="ClientUpdateModules" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="ClientBehaviors" type="ClientBehaviorModules" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="UnitSpecificFX" type="PerUnitFX" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="Geometry" type="Geometry" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="ReplaceModule" type="ReplaceModule" minOccurs="0" />
					<xs:element name="InheritableModule" type="InheritableModule" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="AutoResolveArmor" type="AutoResolveArmor" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="AutoResolveWeapon" type="AutoResolveWeapon" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="WorldMapArmoryUpgradesAllowed" type="StringList" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="FormationPreviewDecal" type="FormationPreviewDecal" minOccurs="0" XmlEdit:Category="Art" />
					<xs:element name="FormationPreviewItemDecal" type="FormationPreviewDecal" minOccurs="0" XmlEdit:Category="Art" />
					<xs:element name="LiveCameraOffset" type="Coord3D" minOccurs="0" XmlEdit:Category="Engineering" />
					<xs:element name="AudioArrayVoice" type="AudioArrayVoice" minOccurs="0" maxOccurs="1" XmlEdit:Category="Audio" />
					<xs:element name="AudioArraySound" type="AudioArraySound" minOccurs="0" maxOccurs="1" XmlEdit:Category="Audio" />
					<xs:element name="EvaEvents" type="GameObjectEvaEvents" minOccurs="0" maxOccurs="1" XmlEdit:Category="Audio" />
					<xs:element name="UpgradeCameo" type="xs:string" minOccurs="0" maxOccurs="5" XmlEdit:Category="Engineering" />
					<xs:element name="ShadowInfo" type="ShadowInfo" minOccurs="0" maxOccurs="1" XmlEdit:Category="Engineering" />
					<xs:element name="AutoResolveInfo" type="AutoResolveInfo" minOccurs="0" maxOccurs="1" />
					<xs:element name="VisionInfo" balance:category="VisionInfo" type="VisionInfo" minOccurs="0" maxOccurs="1" XmlEdit:Category="Design" />
					<xs:element name="CrusherInfo" balance:category="CrusherInfo" type="CrusherInfo" minOccurs="0" maxOccurs="1" XmlEdit:Category="Design" />
					<xs:element name="ProjectedBuildabilityInfo" balance:category="ProjectedBuildabilityInfo" type="ProjectedBuildabilityInfo" minOccurs="0" maxOccurs="1" XmlEdit:Category="Design" />
					<xs:element name="DisplayUpgrade" type="UpgradeTemplateWeakRef" minOccurs="0" maxOccurs="2" XmlEdit:Category="Design" />
				</xs:sequence>
				<xs:attribute name="KindOf" type="KindOfBitFlags" XmlEdit:Category="Engineering" />
				<xs:attribute name="Browser" type="StringList" XmlEdit:Category="Design" />
				<xs:attribute name="ReviveText" type="xs:string" />
				<xs:attribute name="RecruitText" type="xs:string" XmlEdit:Category="Engineering" />
				<xs:attribute name="Description" type="xs:string" XmlEdit:Category="Design" />
				<xs:attribute name="TypeDescription" type="xs:string" XmlEdit:Category="Design" />
				<xs:attribute name="Hotkey" type="xs:string" />
				<xs:attribute name="RadarPriority" type="RadarPriorityType" XmlEdit:Category="Design" />
				<xs:attribute name="BuildCompletion" type="BuildCompletionType" XmlEdit:Category="Engineering" />
				<xs:attribute name="TransportSlotCount" type="xs:unsignedByte" default="0" XmlEdit:Category="Engineering" />
				<xs:attribute name="FenceWidth" type="SageReal" default="0" XmlEdit:Category="Engineering" />
				<xs:attribute name="FenceXOffset" type="SageReal" default="0" />
				<xs:attribute name="RemoveTerrainRadius" type="SageReal" default="0.0" />
				<xs:attribute name="EmotionRange" type="SageReal" default="0" XmlEdit:Category="Engineering" />
				<xs:attribute name="PlacementViewAngle" type="Angle" default="0r" XmlEdit:Category="Art" />
				<xs:attribute name="BuildFadeInOnCreateTimeSeconds" type="Time" default="0s" XmlEdit:Category="Engineering" />
				<xs:attribute name="FactoryExitWidth" type="SageReal" />
				<xs:attribute name="FactoryExtraBibWidth" type="SageReal" />
				<xs:attribute name="IsTrainable" type="SageBool" default="true" XmlEdit:Category="Engineering" />
				<xs:attribute name="Side" balance:filter="Side"  type="AssetId" XmlEdit:Category="Design" />
				<xs:attribute name="EditorName" balance:field="Name" type="xs:string" />
				<xs:attribute name="EditorSorting" type="EditorSortingType" default="NONE" XmlEdit:Category="Design" />
				<xs:attribute name="BuildCost" balance:field="Build Cost" type="SageUnsignedShort" default="0" XmlEdit:Category="Design" />
				<xs:attribute name="BountyValue" type="SageInt" default="0" XmlEdit:Category="Design" />
				<xs:attribute name="BuildTime" balance:field="Build Time" type="SageReal" default="0.0" XmlEdit:Category="Design" />
				<xs:attribute name="BuildFadeInOnCreateTime" type="SageReal" default="0" XmlEdit:Category="Engineering" />
				<xs:attribute name="RefundValue" type="SageUnsignedShort" default="0" XmlEdit:Category="Design" />
				<xs:attribute name="EnergyProduction" balance:field="EnergyProduction" type="SageInt" default="0" XmlEdit:Category="Design" />
				<xs:attribute name="EnergyBonus" type="SageInt" default="0" XmlEdit:Category="Design" />
				<xs:attribute name="IsForbidden" type="SageBool" default="false" XmlEdit:Category="Engineering" />
				<xs:attribute name="IsPrerequisite" type="SageBool" default="false" XmlEdit:Category="Engineering" />
				<xs:attribute name="IsGrabbable" type="SageBool" default="false" XmlEdit:Category="Engineering" />
				<xs:attribute name="IsHarvestable" type="SageBool" default="false" XmlEdit:Category="Engineering" />
				<xs:attribute name="CommandSet" type="LogicCommandSetWeakRef" default="" XmlEdit:Category="Design" />
				<xs:attribute name="SelectPortrait" type="AssetId" default="" XmlEdit:Category="Art" />
				<xs:attribute name="ButtonImage" type="AssetId" default="" XmlEdit:Category="Art" />
				<xs:attribute name="VoicePriority" type="SageInt" XmlEdit:Category="Audio" />
				<xs:attribute name="MinZIncreaseForVoiceMoveToHigherGround" type="SageReal" default="-1" XmlEdit:Category="Audio" />				
				<xs:attribute name="CrowdResponse" type="CrowdResponseTemplateRef" XmlEdit:Category="Audio"/>
				<xs:attribute name="CampnessValue" type="SageUnsignedInt" default="0" XmlEdit:Category="Audio" />
				<xs:attribute name="CampnessValueRadius" type="SageReal" default="600.0" XmlEdit:Category="Audio" />
				<xs:attribute name="Scale" type="SageReal" default="1.0" XmlEdit:Category="Art" />
				<xs:attribute name="HealthBoxScale" type="SageReal" default="1.5" XmlEdit:Category="Art" />
				<xs:attribute name="HealthBoxHeightOffset" type="SageReal" default="10.0" XmlEdit:Category="Art" />
				<xs:attribute name="OcclusionDelay" type="DurationUnsignedInt" />
				<xs:attribute name="LiveCameraPitch" type="SageReal" default="0" XmlEdit:Category="Engineering" />
				<xs:attribute name="FormationWidth" type="SageInt" default="1" XmlEdit:Category="Design" />
				<xs:attribute name="FormationDepth" type="SageInt" default="1" XmlEdit:Category="Design" />
				<xs:attribute name="InstanceScaleFuzziness" type="SageReal" />
				<xs:attribute name="StructureRubbleHeight" type="xs:unsignedByte" default="0" XmlEdit:Category="Engineering" />
				<xs:attribute name="ThreatValue" type="SageUnsignedShort" default="0" XmlEdit:Category="Design" />
				<xs:attribute name="ThreatRadius" type="SageReal" default="-1" XmlEdit:Category="Design" />
				<xs:attribute name="MaxSimultaneousOfType" type="SageUnsignedShort" />
				<xs:attribute name="RamPower" type="SageInt" default="0" XmlEdit:Category="Engineering" />
				<xs:attribute name="RamZMult" type="SageReal" default="1.0" XmlEdit:Category="Engineering" />
				<xs:attribute name="ShockwaveResistance" type="SageReal" default="0" XmlEdit:Category="Design" />
				<xs:attribute name="CommandPoints" type="SageInt" default="0" XmlEdit:Category="Design" />
				<xs:attribute name="CommandPointBonus" type="SageInt" default="0" XmlEdit:Category="Design" />
				<xs:attribute name="VoiceAttackChargeTimeout" type="SageUnsignedInt" XmlEdit:Category="Audio" />
				<xs:attribute name="MaxDistanceForEngaged" type="SageReal" XmlEdit:Category="Audio" />
				<xs:attribute name="EngagedStateTimeout" type="SageUnsignedInt" XmlEdit:Category="Audio" />
				<xs:attribute name="ThreatLevel" type="SageReal" default="1.0" XmlEdit:Category="Design" />
				<xs:attribute name="ForceLuaRegistration" type="SageBool" default="false" XmlEdit:Category="Engineering" />
				<xs:attribute name="ShowHealthInSelectionDecal" type="SageBool" default="false" XmlEdit:Category="Engineering" />
				<xs:attribute name="KeepSelectableWhenDead" type="SageBool" default="false" XmlEdit:Category="Engineering" />
				<xs:attribute name="IsAutoBuilt" type="SageBool" default="false" XmlEdit:Category="Engineering" />
				<xs:attribute name="CanPathThroughGates" type="SageBool" default="true" XmlEdit:Category="Engineering" />
				<xs:attribute name="ShouldClearShotsOnIdle" type="SageBool" default="false" XmlEdit:Category="Engineering" />
				<xs:attribute name="SlopeLimitIndex" type="SageUnsignedInt" default="0" XmlEdit:Category="Engineering" />
				<xs:attribute name="PathfindDiameter" type="SageReal" default="-1" XmlEdit:Category="Engineering" />
				<xs:attribute name="SupplyOverride" type="SageInt" default="0" XmlEdit:Category="Engineering" />
				<xs:attribute name="DisplayMeleeDamage" type="SageInt" default="-1" XmlEdit:Category="Design" />
				<xs:attribute name="DisplayRangedDamage" type="SageInt" default="-1" XmlEdit:Category="Design" />
				<xs:attribute name="HeroSortOrder" type="SageInt" default="2147483647" XmlEdit:Category="Engineering" />
				<xs:attribute name="ExperienceScalarTable" type="xs:string" />
				<xs:attribute name="FiringArc" type="SageReal" default="360" XmlEdit:Category="Engineering" />
				<xs:attribute name="CamouflageDetectionMultiplier" type="SageReal" default="1" XmlEdit:Category="Design" />
				<xs:attribute name="SelectionPriority" type="SageInt" default="2147483647" XmlEdit:Category="Engineering" />
				<xs:attribute name="ProductionQueueType" type="ProductionQueueType" default="INVALID" XmlEdit:Category="Design" />
				<xs:attribute name="BuildPlacementTypeFlag" type="BuildPlacementType" default="INVALID" XmlEdit:Category="Design" />
				<xs:attribute name="BuildInProximityToSamePlayerStucture" type="SageBool" default="true" XmlEdit:Category="Design" />
				<xs:attribute name="BuildOnRequiredObjectKindOf" type="KindOfBitFlags" XmlEdit:Category="Design" />
				<xs:attribute name="UnitCategory" balance:filter="Unit" type="UnitCategory" default="NONE" XmlEdit:Category="Design" />
				<xs:attribute name="WeaponCategory" balance:filter="Weapon" type="WeaponCategory" default="NONE" XmlEdit:Category="Design" />
				<xs:attribute name="HasFiredRecentlyTime" type="Time" default="2s" XmlEdit:Category="Design" />
				<xs:attribute name="UnitTypeIcon" type="UnitTypeIconRef" XmlEdit:Category="Design"/>
				<xs:attribute name="ReinvisibilityDelay" type="Time" default="4s" XmlEdit:Category="Design"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DamageFXRef" xas:refType="DamageFX">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>
	<xs:complexType name="ArmorType">
		<xs:sequence></xs:sequence>
		<xs:attribute name="Conditions" type="xs:string" />
		<xs:attribute name="DamageFX" type="DamageFXRef" />
	</xs:complexType>
	<xs:complexType name="ArmorTemplateSet">
		<xs:sequence></xs:sequence>
		<xs:attribute name="id" type="xs:string" xas:pipelineOnly="true" />
		<xs:attribute name="Armor" balance:field="Armor" balance:category="Armor" type="AssetReference" xas:refType="ArmorTemplate" use="required"/>
		<xs:attribute name="DamageFX" type="DamageFXRef" />
		<xs:attribute name="Conditions" type="ArmorSetBitFlags" />
	</xs:complexType>
	<xs:complexType name="LocomotorSet">
		<xs:sequence></xs:sequence>
		<xs:attribute name="id" type="InstanceId" xas:pipelineOnly="true" />
		<xs:attribute name="Speed" balance:field="Speed" type="SageReal" />
		<xs:attribute name="Condition" balance:field="Condition" type="LocomotorSetType" />
		<xs:attribute name="Locomotor" balance:field="Locomotor" type="AssetReference" xas:refType="LocomotorTemplate" />
	</xs:complexType>
	<xs:complexType name="Flammability">
		<xs:sequence></xs:sequence>
		<xs:attribute name="Fuel" type="SageUnsignedInt" default="0" />
		<xs:attribute name="MaxBurnRate" type="SageUnsignedInt" default="0" />
		<xs:attribute name="Decay" type="SageUnsignedInt" default="0" />
		<xs:attribute name="Resistance" type="SageUnsignedInt" default="0" />
	</xs:complexType>
	<xs:simpleType name="SkirmishAIBaseLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FRONT"/>
			<xs:enumeration value="SIDE" />
      <xs:enumeration value="BACK" />
      <xs:enumeration value="SPREAD" />
      <xs:enumeration value="CENTER" />
			<xs:enumeration value="TIBERIUM" />
      <xs:enumeration value="HOMEBASE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SkirmishAIInformation">
		<xs:sequence></xs:sequence>
		<xs:attribute name="BaseBuildingLocation" type="SkirmishAIBaseLocation" default="FRONT" />
    <xs:attribute name="UnitBuilderStandardCombatUnit" type="xs:boolean" default="false" />
    <xs:attribute name="ConquerMetricsOverrideDPS" type="xs:float" use="optional" />
    <xs:attribute name="ConquerMetricsOverrideDamageType" type="DamageType" default="UNDEFINED"/>
    <xs:attribute name="ConquerMetricsOverrideAntiMask" type="WeaponAntiBitFlags" default="ANTI_GROUND" />
  </xs:complexType>
	<xs:complexType name="ReplaceModule">
		<xs:sequence></xs:sequence>
	</xs:complexType>
	<xs:complexType name="InheritableModule">
		<xs:sequence></xs:sequence>
	</xs:complexType>
	<xs:complexType name="AutoResolveArmor">
		<xs:sequence>
			<xs:element name="RequiredUpgrade" type="UpgradeTemplateWeakRef" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="ExcludedUpgrade" type="UpgradeTemplateWeakRef" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Armor" type="ArmorRef" />
	</xs:complexType>
	<xs:complexType name="AutoResolveWeapon">
		<xs:sequence>
			<xs:element name="RequiredUpgrade" type="UpgradeTemplateWeakRef" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="ExcludedUpgrade" type="UpgradeTemplateWeakRef" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Weapon" type="WeaponRef" />
	</xs:complexType>
	<xs:complexType name="PerUnitFX">
		<xs:sequence></xs:sequence>
	</xs:complexType>
	<xs:complexType name="FormationPreviewDecal">
		<xs:sequence></xs:sequence>
		<xs:attribute name="Texture" type="AssetId" />
		<xs:attribute name="Width" type="SageReal" default="50.0" />
		<xs:attribute name="Height" type="SageReal" default="50.0" />
	</xs:complexType>
	<xs:simpleType name="Module">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<!-- Removed since redundant with GameDependency - asc 9/06 -->
	<!--
	<xs:complexType name="Prerequisites">
		<xs:sequence></xs:sequence>
		<xs:attribute name="Object" type="xs:string" />
		<xs:attribute name="Science" type="xs:string" />
		<xs:attribute name="PlayerUpgrade" type="xs:string" />
	</xs:complexType>-->
	<xs:complexType name="VisionInfo">
		<xs:sequence></xs:sequence>
		<xs:attribute name="VisionRange" balance:field="VisionRange" type="SageReal" default="0.00" />
		<xs:attribute name="ShroudClearingRange" balance:field="Shroud" type="SageReal" default="0.0" />
		<xs:attribute name="VisionSide" balance:field="VisionSide" type="Percentage" default="100" />
		<xs:attribute name="VisionRear" balance:field="VisionRear" type="Percentage" default="100" />
		<xs:attribute name="VisionBonusTestRadius" balance:field="VisionBonusTestRadius" type="SageReal" default="100" />
		<xs:attribute name="VisionBonusTestSegments" type="SageUnsignedInt" default="8" />
		<xs:attribute name="VisionBonusPercentPerFoot" balance:field="VisionBonusPercentPerFoot" type="Percentage" default="0" />
		<xs:attribute name="MaxVisionBonusPercent" balance:field="MaxVisionBonusPercent" type="Percentage" default="50" />
		<xs:attribute name="MinVisionBonusPercent" type="Percentage" default="-50" />
	</xs:complexType>
	<xs:complexType name="CrusherInfo">
		<xs:sequence></xs:sequence>
		<xs:attribute name="CrusherLevel" balance:field="CrusherLevel" type="xs:byte" default="0" />
		<xs:attribute name="CrushableLevel" balance:field="CrushableLevel" type="xs:byte" default="127" />
		<xs:attribute name="MountedCrusherLevel" type="xs:byte" default="-1" />
		<xs:attribute name="MountedCrushableLevel" type="xs:byte" default="-1" />
		<xs:attribute name="CrushKnockback" type="SageInt" default="0" />
		<xs:attribute name="CrushZFactor" type="SageReal" default="1" />
		<xs:attribute name="CrushEqualLevelProps" type="SageBool" default="false" />
		<xs:attribute name="UseCrushAttack" type="SageBool" default="true" />
		<xs:attribute name="CrushOnlyWhileCharging" type="SageBool" default="false" />
		<xs:attribute name="MinCrushVelocityPercent" type="Percentage" default="1" />
		<xs:attribute name="CrushDecelerationPercent" type="Percentage" default="0" />
		<xs:attribute name="CrushAllies" type="SageBool" default="false" />
		<xs:attribute name="CrushWeapon" type="WeaponRef" XmlEdit:Category="Engineering" />
		<xs:attribute name="CrushRevengeWeapon" type="WeaponRef" XmlEdit:Category="Engineering" />
	</xs:complexType>
	<xs:complexType name="DrawModules">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<!--xs:element name="DefaultDraw" type="W3DDefaultDrawModuleData" /-->
			<xs:element name="FloorDraw" type="W3DFloorDrawModuleData" />
			<xs:element name="ScriptedModelDraw" type="W3DScriptedModelDrawModuleData" />
			<xs:element name="TankDraw" type="W3DTankDrawModuleData" />
			<xs:element name="TruckDraw" type="W3DTruckDrawModuleData" />
			<xs:element name="PropDraw" type="W3DPropDrawModuleData" />
			<xs:element name="DebrisDraw" type="W3DDebrisDrawModuleData" />
			<xs:element name="TreeDraw" type="W3DTreeDrawModuleData" />
			<xs:element name="BuffDraw" type="W3DBuffDrawModuleData" />
			<xs:element name="LaserDraw" type="W3DLaserDrawModuleData" />
            <xs:element name="StreamDraw" type="W3DStreamDrawModuleData" />
            <xs:element name="QuadrupedDraw" type="W3DQuadrupedDrawModuleData" />
			<xs:element name="StreakDraw" type="W3DStreakDrawModuleData" />
			<xs:element name="HordeModelDraw" type="W3DHordeModelDrawModuleData" />
			<xs:element name="TracerModelDraw" type="W3DTracerDrawModuleData" />
			<xs:element name="SpotlightDraw" type="W3DSpotlightDrawModuleData" />
		</xs:choice>
	</xs:complexType>
</xs:schema>
