_CnC3_SDK/Schemas/xsd/CnC3Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:balance="uri:ea.com:eala:balance" xmlns:at="uri:ea.com:eala:asset:type" xmlns:xas="uri:ea.com:eala:asset:schema" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified" xmlns:XmlEdit="http://tempuri.org/XmlEdit.xsd">

	<xs:include schemaLocation="Base/AssetBase.xsd"/>

	<xs:include schemaLocation="includes/Ref.xsd" />
	<xs:include schemaLocation="includes/Base.xsd" />
	<xs:include schemaLocation="includes/Common.xsd" />
	<xs:include schemaLocation="includes/DamageFX.xsd" />
	<xs:include schemaLocation="includes/DamageDef.xsd" />
	<xs:include schemaLocation="includes/Geometry.xsd" />
	<xs:include schemaLocation="includes/GlobalGameData.xsd" />
	<xs:include schemaLocation="includes/KindOf.xsd" />
	<xs:include schemaLocation="includes/ModelState.xsd" />
	<xs:include schemaLocation="includes/SpecialPowerDef.xsd" />
	<xs:include schemaLocation="includes/Emotion.xsd" />
	<xs:include schemaLocation="includes/ObjectStatus.xsd" />
	<xs:include schemaLocation="includes/ObjectSoundTypes.xsd" />
	<xs:include schemaLocation="includes/ObjectSound.xsd" />
	<xs:include schemaLocation="includes/Envelope.xsd" />
	<xs:include schemaLocation="includes/Science.xsd" />
	<xs:include schemaLocation="includes/Decal.xsd" />
	<xs:include schemaLocation="includes/ObjectFilter.xsd" />
	<xs:include schemaLocation="includes/UpgradeDef.xsd" />
	<xs:include schemaLocation="includes/AIUpgradeHeuristic.xsd" />
	<xs:include schemaLocation="includes/UnitCategory.xsd" />
	<xs:include schemaLocation="includes/WeaponCategory.xsd" />
	<xs:include schemaLocation="includes/View.xsd" />
	<xs:include schemaLocation="includes/MiscAudio.xsd" />
	<xs:include schemaLocation="includes/MoneyTransactionCategory.xsd" />
	<xs:include schemaLocation="includes/GameDependency.xsd" />
	<xs:include schemaLocation="includes/AIKindOf.xsd" />
	<xs:include schemaLocation="includes/LW_AutoResolveUnit.xsd" />
	<xs:include schemaLocation="includes/FactionType.xsd" />
	<xs:include schemaLocation="includes/SpecialPowerType.xsd" />
	<xs:include schemaLocation="includes/LivingWorldEnums.xsd" />
	<xs:include schemaLocation="includes/GameDifficulty.xsd" />
	
	<xs:include schemaLocation="AssetTypeAttributeModifier.xsd"/>
	<xs:include schemaLocation="AssetTypeCommandSet.xsd"/>
	<xs:include schemaLocation="AssetTypeFXParticleSystem.xsd"/>
	<xs:include schemaLocation="AssetTypeWeaponTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeLocomotorTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeMissionObjectiveList.xsd"/>
	<xs:include schemaLocation="AssetTypeWeather.xsd"/>
	<xs:include schemaLocation="AssetTypeShadowMap.xsd"/>
	<xs:include schemaLocation="AssetTypeWaterTransparency.xsd"/>
	<xs:include schemaLocation="AssetTypeUnitAbilityButtonTemplateStore.xsd"/>
	<xs:include schemaLocation="AssetTypeFXList.xsd"/>
	<xs:include schemaLocation="AssetTypeDamageFX.xsd"/>
	<xs:include schemaLocation="AssetTypeObjectCreationList.xsd"/>
	<xs:include schemaLocation="AssetTypeObjectFilter.xsd"/>
	<xs:include schemaLocation="AssetTypeAudio.xsd"/>
	<xs:include schemaLocation="AssetTypeMusicScript.xsd"/>
	<xs:include schemaLocation="AssetTypeLocalBuildListMonitor.xsd"/>
	<xs:include schemaLocation="AssetTypeSpecialPowerTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeUpgradeTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeArmorTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeTexture.xsd"/>
	<xs:include schemaLocation="AssetTypeW3D.xsd"/>
	<xs:include schemaLocation="AssetTypeCampaignManager.xsd"/>
	<xs:include schemaLocation="AssetTypeRadiusCursorLibrary.xsd"/>
	<xs:include schemaLocation="AssetTypeExperienceLevelTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypePipelineTestType.xsd"/>
	<xs:include schemaLocation="AssetTypePlayerPowerButtonTemplateStore.xsd"/>
	<xs:include schemaLocation="AssetTypeInGameUISettings.xsd"/>
	<xs:include schemaLocation="AssetTypeMultiplayerColor.xsd"/>
	<xs:include schemaLocation="AssetTypeOnlineChatColors.xsd"/>
	<xs:include schemaLocation="AssetTypeMultiplayerSettings.xsd"/>
	<xs:include schemaLocation="AssetTypeUIConfigList.xsd"/>
	<xs:include schemaLocation="AssetTypePackedTexture.xsd"/>
	<xs:include schemaLocation="AssetTypeOnDemandTextureImage.xsd"/>
	<xs:include schemaLocation="AssetTypeTerrainTextureAtlas.xsd"/>
	<xs:include schemaLocation="AssetTypeMouse.xsd"/>
	<xs:include schemaLocation="AssetTypeXenonAchievements.xsd"/>
	<xs:include schemaLocation="AssetTypeStanceTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeLogicCommand.xsd"/>
	<xs:include schemaLocation="AssetTypeLogicCommandSet.xsd"/>
	<xs:include schemaLocation="AssetTypeRoads.xsd"/>
	<xs:include schemaLocation="AssetTypeEnvironment.xsd"/>
	<xs:include schemaLocation="AssetTypeCrowdResponse.xsd"/>
	<xs:include schemaLocation="AssetTypeMapMetaData.xsd"/>
	<xs:include schemaLocation="AssetTypeLargeGroupAudio.xsd"/>
	<xs:include schemaLocation="AssetTypeGameScriptList.xsd"/>
	<xs:include schemaLocation="AssetTypeUnitTypeIcon.xsd"/>
	<xs:include schemaLocation="AssetTypeAptAssets.xsd"/>
	<xs:include schemaLocation="AssetTypeMappableKey.xsd"/>
	<xs:include schemaLocation="AssetTypeHotKeySlot.xsd"/>
	<xs:include schemaLocation="AssetTypeDefaultHotKeys.xsd"/>
	<xs:include schemaLocation="AssetTypeInGameUICommonCommandSlots.xsd"/>
	<xs:include schemaLocation="AssetTypeInGameUITacticalCommandSlots.xsd"/>
	<xs:include schemaLocation="AssetTypeBootupDisplaySequence.xsd"/>
	<xs:include schemaLocation="AssetTypeIntelDatabase.xsd"/>
	<xs:include schemaLocation="AssetTypeImageSequence.xsd"/>
	<xs:include schemaLocation="AssetTypeUnitOverlayIconSettings.xsd"/>
	<xs:include schemaLocation="AssetTypeDLContent.xsd"/>
	<xs:include schemaLocation="AssetTypeVideoSequence.xsd"/>
	<xs:include schemaLocation="AssetTypePhaseEffect.xsd"/>
	<xs:include schemaLocation="AssetTypeConnectionLineManager.xsd"/>
	<xs:include schemaLocation="AssetTypeTheVersion.xsd"/>
	<xs:include schemaLocation="AssetTypeInGameUIFixedElementHotKeySlotMap.xsd"/>

	<!-- System schemas -->
	<xs:include schemaLocation="System/GameLOD.xsd"/>
	<xs:include schemaLocation="includes/AudioSettings.xsd" />

	<xs:include schemaLocation="SkirmishAI/AssetTypeAIStateDefinition.xsd"/>
	<xs:include schemaLocation="SkirmishAI/AssetTyeSkirmishOpeningMove.xsd"/>
	<xs:include schemaLocation="SkirmishAI/AssetTypeAIPersonalityDefinition.xsd"/>
	<xs:include schemaLocation="SkirmishAI/AssetTypeTargetHeuristics.xsd"/>
	<xs:include schemaLocation="SkirmishAI/AssetTypeArmyDefinition.xsd" />
  <xs:include schemaLocation="SkirmishAI/AIBank.xsd" />
	<!-- GameObject Modules -->

	<!-- XPipe -->

	<xs:include schemaLocation="XPipe/XPipe.xsd"/>

	<!-- XPipe -->
	<xs:include schemaLocation="XPipe/XPipe.xsd"/>

	<xs:include schemaLocation="Modules/BaseModules.xsd"/>
	<xs:include schemaLocation="Modules/Upgrade.xsd"/>
	<xs:include schemaLocation="Modules/Collide.xsd"/>

	<!-- Multiplayer -->
	<xs:include schemaLocation="Multiplayer/ConquerMode.xsd"/>

	<!-- Draw Modules -->

	<xs:include schemaLocation="Modules/DefaultDraw.xsd"/>
	<xs:include schemaLocation="Modules/ScriptedModelDraw.xsd"/>
	<xs:include schemaLocation="Modules/TankDraw.xsd"/>
	<xs:include schemaLocation="Modules/TruckDraw.xsd"/>
	<xs:include schemaLocation="Modules/PropDraw.xsd"/>
	<xs:include schemaLocation="Modules/FloorDraw.xsd"/>
	<xs:include schemaLocation="Modules/DebrisDraw.xsd"/>
	<xs:include schemaLocation="Modules/TreeDraw.xsd"/>
	<xs:include schemaLocation="Modules/BuffDraw.xsd"/>
	<xs:include schemaLocation="Modules/LaserDraw.xsd"/>
    <xs:include schemaLocation="Modules/StreamDraw.xsd"/>
    <xs:include schemaLocation="Modules/ProjectileStreamDraw.xsd"/>
	<xs:include schemaLocation="Modules/StreakDraw.xsd"/>
	<xs:include schemaLocation="Modules/W3DRopeDraw.xsd"/>
	<xs:include schemaLocation="Modules/QuadrupedDraw.xsd"/>
	<xs:include schemaLocation="Modules/SupplyDraw.xsd"/>
	<xs:include schemaLocation="Modules/HordeModelDraw.xsd"/>
	<xs:include schemaLocation="Modules/LightDraw.xsd"/>
	<xs:include schemaLocation="Modules/HordeModelDraw.xsd"/>
	<xs:include schemaLocation="Modules/W3DTornadoDraw.xsd"/>
	<xs:include schemaLocation="Modules/W3DBoatWakeModelDraw.xsd"/>
	<xs:include schemaLocation="Modules/TracerDraw.xsd"/>
	<xs:include schemaLocation="Modules/SpotlightDraw.xsd"/>

	<!-- Body Modules -->

	<xs:include schemaLocation="Modules/Body.xsd"/>
	<xs:include schemaLocation="Modules/ActiveBody.xsd"/>
	<xs:include schemaLocation="Modules/ShieldBody.xsd"/>
	<xs:include schemaLocation="Modules/ImmortalBody.xsd"/>
	<xs:include schemaLocation="Modules/InactiveBody.xsd"/>

	<xs:include schemaLocation="Modules/Create.xsd"/>
	<xs:include schemaLocation="Modules/Destroy.xsd"/>
	<xs:include schemaLocation="Modules/Damage.xsd"/>
	<xs:include schemaLocation="Modules/Damager.xsd"/>
	<xs:include schemaLocation="Modules/Die.xsd"/>
	<xs:include schemaLocation="Modules/CreateObjectDie.xsd"/>
	<xs:include schemaLocation="Modules/CreateCrateDie.xsd"/>
	<xs:include schemaLocation="Modules/RebuildHoleExposeDie.xsd"/>
	<xs:include schemaLocation="Modules/DestroyDie.xsd"/>
	<xs:include schemaLocation="Modules/RefundDie.xsd"/>

	<xs:include schemaLocation="Modules/SlowDeath.xsd"/>
	<xs:include schemaLocation="Modules/BezierProjectile.xsd"/>
	<xs:include schemaLocation="Modules/Building.xsd"/>
	<xs:include schemaLocation="Modules/FireWeaponCollide.xsd"/>
	<xs:include schemaLocation="Modules/FireWeaponUpdate.xsd"/>
	<xs:include schemaLocation="Modules/OilSpillUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DamageFieldUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AnimatedParticleSysBoneClientUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AISpecialPowerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/PhysicsBehavior.xsd"/>
	<xs:include schemaLocation="Modules/CombinedInfoModule.xsd"/>
	<xs:include schemaLocation="Modules/CompositeStructureInfoModule.xsd"/>

	<xs:include schemaLocation="Modules/OpenContain.xsd"/>
	<xs:include schemaLocation="Modules/TransportContain.xsd"/>
	<xs:include schemaLocation="Modules/HordeTransportContain.xsd"/>
	<xs:include schemaLocation="Modules/HordeContain.xsd"/>
	<xs:include schemaLocation="Modules/GarrisonContain.xsd"/>
	<xs:include schemaLocation="Modules/HordeGarrisonContain.xsd"/>
	<xs:include schemaLocation="Modules/SlaughterHordeContain.xsd"/>
	<xs:include schemaLocation="Modules/EngineerContain.xsd"/>
	<xs:include schemaLocation="Modules/InfiltratorContain.xsd"/>
	<xs:include schemaLocation="Modules/InvalidTargetsDeathUpdate.xsd"/>
	<xs:include schemaLocation="Modules/Create.xsd"/>
	<xs:include schemaLocation="Modules/GrantUpgradeCreate.xsd"/>
	<xs:include schemaLocation="Modules/HealContain.xsd"/>

	<xs:include schemaLocation="Modules/UnitAITargetChooser.xsd"/>
	<xs:include schemaLocation="Modules/SpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/AssignSlavesTargetObjectSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/GrantUpgradeAreaOfEffectSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/SpecialPowerDispatchSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/AttackTargetSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/HordeDispatchSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/SpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/CurseSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/OCLMonitorSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/GiveUpgradeUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SwayClientUpdate.xsd"/>
	<xs:include schemaLocation="Modules/OCLSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/TemporaryOwnerSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/PlayerUpgradeSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/SpecialPowerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AutoPickUpUpdate.xsd"/>
	<xs:include schemaLocation="Modules/BeaconClientUpdate.xsd"/>
	<xs:include schemaLocation="Modules/MonitorConditionUpdate.xsd"/>
	<xs:include schemaLocation="Modules/MonitorSpecialPowerTimerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/BeamSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/CaptureSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/HighlightReachableTargetsSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/WeaponFireSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/TiberiumThiefSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SwitchLocomotorsSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/HeightDieUpdate.xsd"/>
	<xs:include schemaLocation="Modules/LifetimeUpdate.xsd"/>
	<xs:include schemaLocation="Modules/MissileUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ModelConditionSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/OCLUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DefaultProductionExitUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ProductionUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ProductionUpdateInfoModule.xsd"/>
	<xs:include schemaLocation="Modules/SpecialDisguiseUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DefectorSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/ProductionSpeedBonus.xsd"/>
	<xs:include schemaLocation="Modules/ScavengerSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/GrabPassengerSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/DeflectSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/PlayerHealSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/RepairSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/DominateEnemySpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/FlingPassengerSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/GiveOrRestoreUpgradeSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/EvacuateGarrisonSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/StoreObjectsSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/CloneStoredObjectsSpecialPowerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/TeleportSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ToggleDeploySpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ToggleHiddenSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/UnleashSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/RecallUnitsSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/ReturnToProducerSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/TurretAI.xsd" />

	<xs:include schemaLocation="Modules/RadarHackSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/RadarJamSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/RadarSpySpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/RadarFreezeSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/CaptureAndGiveCommandSetSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/CombineSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/UncombineSpecialPower.xsd"/>

	<xs:include schemaLocation="Modules/ConstructionYardAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/FXListBehavior.xsd"/>

	<xs:include schemaLocation="Modules/RespawnBody.xsd"/>
	<xs:include schemaLocation="Modules/DelayedDeathBody.xsd"/>


	<xs:include schemaLocation="Modules/ExperienceLevelCreate.xsd"/>
	<xs:include schemaLocation="Modules/InheritUpgradeCreate.xsd"/>

	<xs:include schemaLocation="Modules/UpgradeDie.xsd"/>
	<xs:include schemaLocation="Modules/KeepObjectDie.xsd"/>
	<xs:include schemaLocation="Modules/LevelGrantSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/SquishCollide.xsd"/>

	<xs:include schemaLocation="Modules/LockWeaponCreate.xsd"/>
	<xs:include schemaLocation="Modules/PreorderCreate.xsd"/>
	<xs:include schemaLocation="Modules/SupplyWarehouseCreate.xsd"/>
	<xs:include schemaLocation="Modules/CrushDie.xsd"/>
	<xs:include schemaLocation="Modules/DamageFilteredCreateObjectDie.xsd"/>
	<xs:include schemaLocation="Modules/AnnounceBirthAndDeathBehavior.xsd"/>

	<xs:include schemaLocation="Modules/StopSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/SpecialPowerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/WeaponModeSpecialPowerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/HighlanderBody.xsd"/>
	<xs:include schemaLocation="Modules/ImmortalBody.xsd"/>
	<xs:include schemaLocation="Modules/ReflectDamage.xsd"/>
	<xs:include schemaLocation="Modules/DamageStateList.xsd"/>

	<xs:include schemaLocation="Modules/SpecialPowerCompletionDie.xsd"/>
	<xs:include schemaLocation="Modules/ProductionQueueHordeContain.xsd"/>
	<xs:include schemaLocation="Modules/FreeLifeBody.xsd"/>
	<xs:include schemaLocation="Modules/TunnelContain.xsd"/>
	<xs:include schemaLocation="Modules/TunnelTeleportContain.xsd"/>
	<xs:include schemaLocation="Modules/TeleportToCasterSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/TaintSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/InvisibilitySpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/CreateAndEnterObjectSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/MoveToPositionAndEvacuateSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/MoveToPositionAndReplaceSelfSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/ReturnToDockSpecialPower.xsd"/>

	<!-- Upgrade Modules -->

	<xs:include schemaLocation="Modules/SlavedUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ArmorUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/AttributeModifierUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/CommandSetUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/LocomotorSetUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/MaxHealthUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/ModelConditionUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/ObjectCreationUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/UnpauseSpecialPowerUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/ReplaceSelfUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/StructureCollapseUpdate.xsd"/>
	<xs:include schemaLocation="Modules/InitiateRepairDie.xsd"/>
	<xs:include schemaLocation="Modules/AttributeModifierAuraUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ShieldBodyUpdate.xsd"/>
	<xs:include schemaLocation="Modules/CastleUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/AudioLoopUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/DelayedUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/ProductionSpeedBonusUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/StatusBitsUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/ExperienceScalarUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/CostModifierUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/StealthUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/GarrisonUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/SpellRechargeModifierUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/PowerUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/BannerCarrierUpgrade.xsd"/>


	<!-- Update Modules -->

	<xs:include schemaLocation="Modules/AutoDepositUpdate.xsd"/>
	<xs:include schemaLocation="Modules/JumpJetSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/FlammableUpdate.xsd"/>
	<xs:include schemaLocation="Modules/QueueProductionExitUpdate.xsd"/>
	<xs:include schemaLocation="Modules/TerrainResource.xsd"/>
	<xs:include schemaLocation="Modules/SubObjectsUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/GeometryUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/LevelUpUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/StealthDetectorUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DynamicShroudClearingRangeUpdate.xsd"/>
	<xs:include schemaLocation="Modules/EmotionTrackerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/JetAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/HordeAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/Building.xsd"/>
	<xs:include schemaLocation="Modules/GettingBuilt.xsd"/>
	<xs:include schemaLocation="Modules/AttributeModifierPoolUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SpecialPowerCreate.xsd"/>
	<xs:include schemaLocation="Modules/DamageFieldUpdate.xsd"/>
	<xs:include schemaLocation="Modules/OilSpillUpdate.xsd"/>
	<xs:include schemaLocation="Modules/PillageModule.xsd"/>
	<xs:include schemaLocation="Modules/AnimalAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AssaultTransportAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DozerAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/FoundationAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/CastleSystem.xsd"/>
	<xs:include schemaLocation="Modules/BroadcastStealthUpdate.xsd"/>
	<xs:include schemaLocation="Modules/StructureUnpackUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SuppressionUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ClusterBombUpdate.xsd"/>
	<xs:include schemaLocation="Modules/FindCoverBehavior.xsd"/>


	<xs:include schemaLocation="Modules/RandomModelCondition.xsd"/>
	<xs:include schemaLocation="Modules/TiberiumField.xsd"/>
	<xs:include schemaLocation="Modules/TiberiumCrystal.xsd"/>
	<xs:include schemaLocation="Modules/TiberiumGrowthModBehavior.xsd"/>

	<xs:include schemaLocation="Modules/RadarBehavior.xsd"/>
	<xs:include schemaLocation="Modules/DockUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SupplyTruckAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SupplyCenterCreate.xsd"/>
	<xs:include schemaLocation="Modules/GatherSlavesUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SupplyCenterDockUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SupplyWarehouseDockUpdate.xsd"/>
	<xs:include schemaLocation="Modules/TransportHelicopterAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AimWeaponBehavior.xsd"/>
	<xs:include schemaLocation="Modules/DistributedMoneyBehavior.xsd"/>
	<xs:include schemaLocation="Modules/AutoAbilityBehavior.xsd"/>
	<xs:include schemaLocation="Modules/FireWeaponWhenDamagedBehavior.xsd"/>
	<xs:include schemaLocation="Modules/FireWeaponWhenDeadBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ShipSlowDeathBehavior.xsd"/>
	<xs:include schemaLocation="Modules/StancesBehavior.xsd"/>
	<xs:include schemaLocation="Modules/HelicopterSlowDeathBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ModelConditionSoundSelectorClientBehavior.xsd"/>
	<xs:include schemaLocation="Modules/UpgradeSoundSelectorClientBehavior.xsd"/>
	<xs:include schemaLocation="Modules/BridgeBuilderBehavior.xsd"/>
	<xs:include schemaLocation="Modules/WanderAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DeletionUpdate.xsd"/>
	<xs:include schemaLocation="Modules/BannerCarrierUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AttachUpdate.xsd"/>
	<xs:include schemaLocation="Modules/BoobyTrapUpdate.xsd"/>
	<xs:include schemaLocation="Modules/StealUnitUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SpawnCrateUpdate.xsd"/>
	<xs:include schemaLocation="Modules/EMPUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RadarUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AutoHealBehavior.xsd"/>
	<xs:include schemaLocation="Modules/MinefieldBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ParkingPlaceBehavior.xsd"/>
	<xs:include schemaLocation="Modules/DeployStyleAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/LaserUpdate.xsd"/>
	<xs:include schemaLocation="Modules/LaserStateModule.xsd"/>
	<xs:include schemaLocation="Modules/SweepingLaserStateModule.xsd"/>
    <xs:include schemaLocation="Modules/StreamStateModule.xsd"/>
    <xs:include schemaLocation="Modules/ActivateModuleSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/StealthUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DualWeaponBehavior.xsd"/>
	<xs:include schemaLocation="Modules/EvacuateDamage.xsd"/>
	<xs:include schemaLocation="Modules/WeaponSetUpdate.xsd" />
	<xs:include schemaLocation="Modules/HordeTransportContainDamage.xsd"/>
	<xs:include schemaLocation="Modules/FiringTracker.xsd"/>
	<xs:include schemaLocation="Modules/SpecialPowerTimerRefreshSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/TransportAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ObjectHelper.xsd"/>
	<xs:include schemaLocation="Modules/ObjectDefectionHelper.xsd"/>
	<xs:include schemaLocation="Modules/ObjectGuardingHelper.xsd"/>
	<xs:include schemaLocation="Modules/ObjectRecoveryHelper.xsd"/>
	<xs:include schemaLocation="Modules/ObjectRepulsorHelper.xsd"/>
	<xs:include schemaLocation="Modules/ObjectSMCHelper.xsd"/>
	<xs:include schemaLocation="Modules/ObjectWeaponStatusHelper.xsd"/>
	<xs:include schemaLocation="Modules/ClickReactionBehavior.xsd"/>
	<xs:include schemaLocation="Modules/HitReactionBehavior.xsd"/>
	<xs:include schemaLocation="Modules/RubbleRiseUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ReplaceObjectUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AIGateUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ClearanceTestingSlowDeathBehavior.xsd"/>
	<xs:include schemaLocation="Modules/LargeGroupAudioUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SupplyCenterDockUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RailedTransportDockUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RepairDockUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RepairUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SpawnBehavior.xsd"/>
	<xs:include schemaLocation="Modules/PassiveAreaEffectBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ModelConditionAudioLoopClientBehavior.xsd"/>
	<xs:include schemaLocation="Modules/GateOpenAndCloseBehavior.xsd"/>
	<xs:include schemaLocation="Modules/GateProxyBehavior.xsd"/>
	<xs:include schemaLocation="Modules/FadeAndDieOrnamentUpdate.xsd"/>
	<xs:include schemaLocation="Modules/EvaAnnounceClientCreate.xsd"/>
	<xs:include schemaLocation="Modules/EvaAnnounceSpecialPowerReadyClientUpdate.xsd" />
	<xs:include schemaLocation="Modules/DynamicPortalBehaviour.xsd"/>
	<xs:include schemaLocation="Modules/DemoTrapUpdate.xsd"/>
	<xs:include schemaLocation="Modules/CrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/HordeMemberCollide.xsd"/>
	<xs:include schemaLocation="Modules/HealCrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/MoneyCrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/ShroudCrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/UnitCrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/VeterancyCrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/SalvageCrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/CivilianSpawnCollide.xsd"/>
	<xs:include schemaLocation="Modules/AnimationSoundClientBehavior.xsd"/>
	<xs:include schemaLocation="Modules/RadarMarkerClientUpdate.xsd" />
	<xs:include schemaLocation="Modules/RespawnUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RandomSoundSelectorClientBehavior.xsd"/>
	<xs:include schemaLocation="Modules/TeleportSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/CallHelpOnDamage.xsd"/>

	<xs:include schemaLocation="Modules/CashHackSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/StructureToppleUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SpawnedModelConditionCreate.xsd"/>

	<xs:include schemaLocation="Modules/NotifyTargetsOfImminentProbableCrushingUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AssistedTargetingUpdate.xsd"/>
	<xs:include schemaLocation="Modules/CaptureBehavior.xsd"/>
	<xs:include schemaLocation="Modules/StorePurchasedUpgradeBehavior.xsd"/>

	<xs:include schemaLocation="Modules/SpecialPowerCreate.xsd"/>
	<xs:include schemaLocation="Modules/WallHubBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ReplenishUnitsBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ToppleUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ToggleMountedSpecialAbilityUpdate.xsd"/>

	<xs:include schemaLocation="Modules/RunOffMapBehavior.xsd"/>

	<xs:include schemaLocation="Shell/MpGameRules.xsd"/>
	<xs:include schemaLocation="Modules/InvisibilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/PowerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/FakePathfindPortalBehaviour.xsd"/>
	<xs:include schemaLocation="Modules/PoisonedBehavior.xsd"/>
	<xs:include schemaLocation="Modules/RebuildHoleBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ShareExperienceBehavior.xsd"/>
	<xs:include schemaLocation="Modules/SlaveWatcherBehavior.xsd"/>
	<xs:include schemaLocation="Modules/SpawnUnitBehavior.xsd"/>
	<xs:include schemaLocation="Modules/SupplyWarehouseCripplingBehavior.xsd"/>
	<xs:include schemaLocation="Modules/BoredUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RemoveUpgradeUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/ReplaceSelfUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/FireSpreadUpdate.xsd"/>
	<xs:include schemaLocation="Modules/LargeGroupBonusUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SlavedUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ProneUpdate.xsd"/>
	<xs:include schemaLocation="Modules/HijackerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ProjectileStreamUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RadiateFearUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RadiusDecalUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SpecialEnemySenseUpdate.xsd"/>
	<xs:include schemaLocation="Modules/StrafeAreaUpdate.xsd"/>
	<xs:include schemaLocation="Modules/OCLMonitorUpdate.xsd"/>
	<xs:include schemaLocation="Modules/TemporarilyDefectUpdate.xsd"/>
	<xs:include schemaLocation="Modules/WallUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/AllowBannerSpawnUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/BaseUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/CommandPointsUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/TooltipUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/DoCommandUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/MineshaftPortalBehavior.xsd"/>
	<xs:include schemaLocation="Modules/PickupStuffUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SupplyCenterProductionExitUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SpawnPointProductionExitUpdate.xsd"/>
	<xs:include schemaLocation="Modules/HordeNotifyTargetsOfImminentProbableCrushingUpdate.xsd"/>
	<xs:include schemaLocation="Modules/FloatUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AutoFindHealingUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DelayedLuaEventUpdate.xsd"/>
	<xs:include schemaLocation="Modules/CritterEmitterUpdate.xsd"/>
	<xs:include schemaLocation="Modules/CivilianSpawnUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RadarScanMapSpecialAbilityUpdate.xsd"/>
  <xs:include schemaLocation="Modules/RestrictSpecialPowerBehavior.xsd" />
	<xs:include schemaLocation="Modules/AreaRestrictSpecialPowerBehavior.xsd" />
	<xs:include schemaLocation="Modules/ShroudClearBehaviorUpdate.xsd" />
	<xs:include schemaLocation="Modules/LinearDamageUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SetLocomotorSpeedUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DestroyObjectsUpdate.xsd"/>
	<xs:include schemaLocation="Modules/PlayerPowerManagerBehavior.xsd"/>
	<!-- Data Modules -->

	<xs:include schemaLocation="Modules/BeamTargetModule.xsd"/>
	<xs:include schemaLocation="Modules/EvaEvents.xsd"/>

	<xs:include schemaLocation="AssetTypeGameObject.xsd"/>
	<xs:include schemaLocation="AssetTypeW3D.xsd"/>
	<xs:include schemaLocation="AssetTypeGameMap.xsd"/>
	<xs:include schemaLocation="AssetTypeStringHashTable.xsd"/>

	<xs:element name="AssetDeclaration">
		<xs:annotation>
			<xs:documentation>Root level element for all asset declarations</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Tags"
										minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Tag"
													type="Tag"
													maxOccurs="unbounded"
													minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Includes"
										minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Include"
													type="Include"
													minOccurs="0"
													maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Defines"
										minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Define"
													type="Define"
													maxOccurs="unbounded"
													minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:choice minOccurs="0"
									 maxOccurs="unbounded">
					<!-- Pipeline test types START -->
					<!-- DO NOT REMOVE -->
					<xs:element name="TestGameObject"
											type="TestGameObject"/>
					<xs:element name="TestTexture"
											type="TestTexture"/>
					<xs:element name="TestTextureCollection"
											type="TestTextureCollection"/>
					<!-- Pipeline test types END -->
										
					<xs:element name="WeaponTemplate"
											type="WeaponTemplate" />
					<xs:element name="LocomotorTemplate"
											type="LocomotorTemplate" />
					<xs:element name="GameObject"
											balance:category="Game Object"
											type="GameObject"/>
					<xs:element name="FXParticleSystemTemplate"
											type="FXParticleSystemTemplate" />
					<xs:element name="Weather"
											type="Weather"/>
					<xs:element name="ShadowMap"
											type="ShadowMap"/>
					<xs:element name="WaterTransparency"
											type="WaterTransparency"/>
					<xs:element name="UnitAbilityButtonTemplateStore"
											type="UnitAbilityButtonTemplateStore"/>
					<xs:element name="PlayerPowerButtonTemplateStore"
											type="PlayerPowerButtonTemplateStore"/>
					<xs:element name="Texture"
											type="Texture"/>
					<xs:element name="OnDemandTexture"
											type="OnDemandTexture"/>
					<xs:element name="W3DMesh"
											type="W3DMesh"/>
					<xs:element name="W3DContainer"
											type="W3DContainer"/>
					<xs:element name="W3DHierarchy"
											type="W3DHierarchy"/>
					<xs:element name="W3DAnimation"
											type="W3DAnimation"/>
					<xs:element name="W3DCollisionBox"
											type="W3DCollisionBox"/>
					<xs:element name="ArmyDefinition"
											type="ArmyDefinition" />
					<xs:element name="AIPersonalityDefinition"
											type="AIPersonalityDefinition" />
					<xs:element name="FXList"
											type="FXList" />
					<xs:element name="ObjectCreationList"
											type="ObjectCreationList" />
					<xs:element name="ObjectFilterAsset"
											type="ObjectFilterAsset" />
					<xs:element name="SpecialPowerTemplate"
											type="SpecialPowerTemplate" />
					<xs:element name="UpgradeTemplate"
											type="UpgradeTemplate" />
					<xs:element name="SkirmishOpeningMove"
											type="SkirmishOpeningMove" />
					<xs:element name="AIStateDefinition"
											type="AIStateDefinition" />
					<xs:element name="AIStrategicStateDefinition"
											type="AIStrategicStateDefinition" />
					<xs:element name="AIBudgetStateDefinition"
											type="AIBudgetStateDefinition" />
					<xs:element name="AITargetingHeuristic"
											type="AITargetingHeuristic" />
					<xs:element name="GameMap"
											type="GameMap" />
					<xs:element name="AttributeModifier"
											type="AttributeModifier" />
					<xs:element name="ArmorTemplate"
											type="ArmorTemplate" />
					<xs:element name="MissionTemplate"
											type="MissionTemplate" />
					<xs:element name="TheaterOfWarTemplate"
											type="TheaterOfWarTemplate" />
					<xs:element name="CampaignTemplate"
											type="CampaignTemplate" />
					<xs:element name="RadiusCursorLibrary"
											type="RadiusCursorLibrary" />
					<xs:element name="AudioFile"
											type="AudioFile" />
					<xs:element name="AudioFileMP3Passthrough"
											type="AudioFileMP3Passthrough" />
					<xs:element name="AudioEvent"
											type="AudioEvent" />
					<xs:element name="MusicTrack"
											type="MusicTrack" />
					<xs:element name="MP3MusicTrack"
											type="MP3MusicTrack" />
					<xs:element name="DialogEvent"
											type="DialogEvent" />
					<xs:element name="MP3DialogEvent"
											type="MP3DialogEvent" />
					<xs:element name="AmbientStream"
											type="AmbientStream" />
					<xs:element name="MP3AmbientStream"
											type="MP3AmbientStream" />
					<xs:element name="Multisound"
											type="Multisound" />
					<xs:element name="MusicPalette"
										  type="MusicPalette" />
					<xs:element name="MusicScriptConditionNugget_LocalPlayerIsObserver"	
											type="MusicScriptConditionNugget_LocalPlayerIsObserver" />
					<xs:element name="MusicScriptConditionNugget_UnitsFarFromBase"	
											type="MusicScriptConditionNugget_UnitsFarFromBase" />
					<xs:element name="MusicScriptConditionNugget_TimeFromStartOfLevel"	
											type="MusicScriptConditionNugget_TimeFromStartOfLevel" />
					<xs:element name="MusicScriptConditionNugget_TrackPlayedCount"	
											type="MusicScriptConditionNugget_TrackPlayedCount" />
					<xs:element name="MusicScriptConditionNugget_SpecificTrackTypePlaying"	
											type="MusicScriptConditionNugget_SpecificTrackTypePlaying" />
					<xs:element name="MusicScriptConditionNugget_AnyTrackPlaying"	
											type="MusicScriptConditionNugget_AnyTrackPlaying" />
					<xs:element name="MusicScriptConditionNugget_ObjectsOfTypeExist"	
											type="MusicScriptConditionNugget_ObjectsOfTypeExist" />
					<xs:element name="MusicScriptConditionNugget_EvaEventPlayedRecently"	
											type="MusicScriptConditionNugget_EvaEventPlayedRecently" />
					<xs:element name="MusicScriptConditionNugget_ObjectsNearEvaEvent"	
											type="MusicScriptConditionNugget_ObjectsNearEvaEvent" />
					<xs:element name="MusicScriptConditionNugget_ScoredKillCount"	
											type="MusicScriptConditionNugget_ScoredKillCount" />
					<xs:element name="MusicScriptConditionNugget_Not"	
											type="MusicScriptConditionNugget_Not" />
					<xs:element name="MusicScriptConditionNugget_Or"
											type="MusicScriptConditionNugget_Or" />
					<xs:element name="MusicScriptConditionNugget_And"
											type="MusicScriptConditionNugget_And" />
					<xs:element name="MusicScriptTrack"
											type="MusicScriptTrack" />
					<xs:element name="LocalBuildListMonitor"
										  type="LocalBuildListMonitor" />
					<xs:element name="MpGameRules"
											type="MpGameRules" />
					<xs:element name="ExperienceLevelTemplate"
											type="ExperienceLevelTemplate" />
					<xs:element name="MissionObjectiveList"
											type="MissionObjectiveList" />
					<xs:element name="StringHashTable"
											type="StringHashTable" />
					<xs:element name="InGameUISettings"
											type="InGameUISettings" />
					<xs:element name="DamageFX"
											type="DamageFX" />
					<xs:element name="MultiplayerSettings"
											type ="MultiplayerSettings" />
					<xs:element name="OnlineChatColors"
											type="OnlineChatColors" />
					<xs:element name="MultiplayerColor"
											type="MultiplayerColor" />
					<xs:element name="GameLODPreset"
											type="GameLODPreset" />
					<xs:element name="StaticGameLOD"
											type="StaticGameLOD" />
					<xs:element name="DynamicGameLOD"
											type="DynamicGameLOD" />
					<xs:element name="AudioLOD"
											type="AudioLOD" />
					<xs:element name="VideoEventList" type="VideoEventList" />
					<xs:element name="UIConfigList" type="UIConfigList" />
					<xs:element name="PackedTextureImage" type="PackedTextureImage" />
					<xs:element name="OnDemandTextureImage" type="OnDemandTextureImage" />
					<xs:element name="TerrainTextureAtlas" type="TerrainTextureAtlas" />
					<xs:element name="Mouse" type="Mouse" />
					<xs:element name="Achievement" type="Achievement" />
					<xs:element name="StanceTemplate" type="StanceTemplate" />
					<xs:element name="TargetingCompareList" type="TargetingCompareList" />
					<xs:element name="TargetingDistanceCompare" type="TargetingDistanceCompare" />
					<xs:element name="TargetingCombatChainCompare" type="TargetingCombatChainCompare" />
					<xs:element name="TargetingInTurretArcCompare" type="TargetingInTurretArcCompare" />
					<xs:element name="Road" type="Road" />
					<xs:element name="Environment" type="Environment" />
					<xs:element name="LogicCommand" type="LogicCommand"/>
					<xs:element name="LogicCommandSet" type="LogicCommandSet"/>
					<xs:element name="MiscAudio" type="MiscAudio" />
					<xs:element name="AudioSettings" type="AudioSettings" />
					<xs:element name="CrowdResponse" type="CrowdResponse" />
					<xs:element name="MapMetaData" type="MapMetaData" />
					<xs:element name="LargeGroupAudioMap" type="LargeGroupAudioMap" />
					<xs:element name="AptAptData" type="AptAptData" />
					<xs:element name="AptConstData" type="AptConstData" />
					<xs:element name="AptDatData" type="AptDatData" />
					<xs:element name="AptGeometryData" type="AptGeometryData" />
					<xs:element name="MappableKey" type="MappableKey" />
					<xs:element name="HotKeySlot" type="HotKeySlot" />
					<xs:element name="DefaultHotKeys" type="DefaultHotKeys" />
					<xs:element name="InGameUIGroupSelectionCommandSlots" type="InGameUIGroupSelectionCommandSlots" />
					<xs:element name="InGameUILookAtCommandSlots" type="InGameUILookAtCommandSlots" />
					<xs:element name="InGameUITacticalCommandSlots" type="InGameUITacticalCommandSlots" />
					<xs:element name="InGameUIVoiceChatCommandSlots" type="InGameUIVoiceChatCommandSlots" />
					<xs:element name="InGameUISideBarCommandSlots" type="InGameUISideBarCommandSlots" />
					<xs:element name="InGameUIPlayerPowerCommandSlots" type="InGameUIPlayerPowerCommandSlots" />
					<xs:element name="InGameUIUnitAbilityCommandSlots" type="InGameUIUnitAbilityCommandSlots" />
					<xs:element name="GameScriptList" type="GameScriptList" />
					<xs:element name="IntelDB" type="IntelDB" />
					<xs:element name="BootupDisplaySequence" type="BootupDisplaySequence" />
					<xs:element name="UnitTypeIcon" type="UnitTypeIcon" />
					<xs:element name="ImageSequence" type="ImageSequence" />
					<xs:element name="UnitOverlayIconSettings" type="UnitOverlayIconSettings" />
					<xs:element name="TheVersion" type="TheVersion" />
					<!-- Conquer Mode -->
					<xs:element name="ConquerCardDefinitionUnit" type="ConquerCardDefinitionUnit" />
					<xs:element name="ConquerCardDefinitionStructure" type="ConquerCardDefinitionStructure" />
					<xs:element name="ConquerCardDefinitionPower" type="ConquerCardDefinitionPower" />
					<xs:element name="ConquerCardPrebuiltDeck" type="ConquerCardPrebuiltDeck" />
					<xs:element name="DLContent" type="DLContent" />
					<xs:element name="PhaseEffect" type="PhaseEffect" />
					<xs:element name="ConnectionLineManager" type="ConnectionLineManager" />
					<xs:element name="InGameUIFixedElementHotKeySlotMap" type="InGameUIFixedElementHotKeySlotMap" />
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
