_CnC3_SDK/Schemas/xsd/InGameUI/DrawableCaption.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:at="uri:ea.com:eala:asset:type" xmlns:xas="uri:ea.com:eala:asset:schema" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified" xmlns:XmlEdit="http://tempuri.org/XmlEdit.xsd">

	<xs:include schemaLocation="../Includes/Base.xsd"/>
	<xs:include schemaLocation="FontDesc.xsd"/>

	<xs:complexType name="InGameUIDrawableCaptionSettings">
		<xs:sequence>
			<xs:element name="Font" type="FontDesc" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Color" type="RGBColor" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
  
</xs:schema>
