_CnC3_SDK/Schemas/xsd/InGameUI/FontDesc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:at="uri:ea.com:eala:asset:type" xmlns:xas="uri:ea.com:eala:asset:schema" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified" xmlns:XmlEdit="http://tempuri.org/XmlEdit.xsd">

	<xs:include schemaLocation="../Includes/Base.xsd"/>
  
	<xs:complexType name="FontDesc">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required" />
		<xs:attribute name="Size" type="SageUnsignedInt" use="required" />
		<xs:attribute name="Bold" type="SageBool" default="false" />
	</xs:complexType>

</xs:schema>
