_CnC3_SDK/Schemas/xsd/InGameUI/SimpleHelpTemplate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:at="uri:ea.com:eala:asset:type" xmlns:xas="uri:ea.com:eala:asset:schema" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified" xmlns:XmlEdit="http://tempuri.org/XmlEdit.xsd">

	<xs:complexType name="InGameUISimpleHelpTemplate">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="Title" type="xs:string" use="required"/>
		<xs:attribute name="Description" type="xs:string"/>
		<xs:attribute name="TypeDescription" type="xs:string"/>
		<xs:attribute name="Instructions" type="xs:string"/>
	</xs:complexType>

</xs:schema>
