_CnC3_SDK/Schemas/xsd/Modules/PropDraw.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:at="uri:ea.com:eala:asset:type" xmlns:xas="uri:ea.com:eala:asset:schema" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified" xmlns:XmlEdit="http://tempuri.org/XmlEdit.xsd">

	<xs:complexType name="W3DPropDrawModuleData">
		<xs:complexContent>
			<xs:extension base="DrawModuleData">
				<xs:sequence></xs:sequence>
				<xs:attribute name="Model" type="AssetReference" xas:refType="W3DMesh" />
				<xs:attribute name="DistanceFog" type="SageBool" default="true" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
