_CnC3_SDK/Schemas/xsd/Modules/RadarFreezeSpecialPower.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:at="uri:ea.com:eala:asset:type"
	xmlns:xas="uri:ea.com:eala:asset:schema" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified"
	xmlns:XmlEdit="http://tempuri.org/XmlEdit.xsd">
	<xs:complexType name="RadarFreezeSpecialPowerModuleData">
		<xs:complexContent>
			<xs:extension base="SpecialPowerModuleData">
				<xs:attribute name="TargetFilter" type="StringList" />
				<xs:attribute name="FreezeDuration" type="Time" default="0s" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>